@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Airport Weather Center</h1>

    <hr /> 

    <a href="https://cdn-icons-png.flaticon.com/512/7137/7137989.png">
        <img src="https://cdn-icons-png.flaticon.com/512/7137/7137989.png" alt="A Windstock" id="windstockpic" />
    </a>

    <hr />

    <h3>
        Delivering real-time, accurate airport weather data to enhance travel planning and operational efficiency for both travelers and aviation professionals.
    </h3>

</div>
