@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html lang="en">

<body>

    <div class="container text-center my-4">
        <h1 class="display-4 text-primary-emphasis">Airport Weather Center</h1>
        <hr />
    </div>

    <!-- Slideshow -->
    <div class="slideshow-container">

        <div class="mySlides">
            <div class="numbertext">1 / 3</div>
            <img src="https://cdn-icons-png.flaticon.com/512/7137/7137989.png" style="width:100%" alt="Windstock" id="WindStockPic">
        </div>

        <div class="mySlides">
            <div class="numbertext">2 / 3</div>
            <img src="https://www.shutterstock.com/image-vector/schiphol-airport-amsterdam-airline-vector-600nw-2093726923.jpg" style="width:100%" alt="ControlTower" id="ControlTowerPic">
        </div>

        <div class="mySlides">
            <div class="numbertext">3 / 3</div>
            <img src="https://img.freepik.com/premium-vector/cloud-rain-storm-icon-simple-illustration-cloud-rain-storm-vector-icon-web_98396-4234.jpg" style="width:100%" alt="RainCloud" id="RainCloudPic">
        </div>

        <!-- Next and prev btns -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <!-- The dots (slide indicators) -->
    <div style="text-align:center">
        <!--bootstrap "text-center" won't work-->
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>

    <div class="container text-center my-5">
        <!-- Horizontal line -->
        <hr class="my-4" />

        <!-- Main message on home page -->
        <h3 class="my-4 text-secondary-emphasis bg-info-subtle">
            Delivering real-time, accurate airport weather data to enhance travel planning and operational efficiency for both travelers and aviation professionals!
        </h3>

        <!-- Additional spacing -->
        <div class="my-4"></div>
    </div>


    <script>
        let slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1; }
            if (n < 1) { slideIndex = slides.length; }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>

</body>

<head>
    <!--Formatting slideshow-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Slideshow with Buttons</title>
    <style>
        /* Slideshow */
        .slideshow-container {
            max-width: 450px;
            position: relative;
            margin: auto;
        }

        /* Hide slides by default */
        .mySlides {
            display: none;
        }

        /* Next and prev btns */
        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -22px;
            padding: 16px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
            background-color: rgba(0,0,0,0.5);
        }

        /* Position the next btn on the right */
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }

        /* Number text (show what slide its on) */
        .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }

        /* The dots (slide indicators) */
        .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

            /* Background for slides */
            .active, .dot:hover {
                background-color: #717171;
            }
    </style>
</head>
</html>


