@page
@model AirportWeatherAPP.Pages.SearchPageModel
@{
}

<input id="searchfld" placeholder="Airport" class="form-control" />

<button typeof="button" onclick="searchAirPort();" class="btn btn-outline-info">Search</button>


<div id="searchResultsDiv">

<script>

    async function searchAirport(){

    }

</script>
   